.login-view {
  @include generalDisplay();
  @include borders();
  @include modals();
  background-color: $transparentMauve;
}

.input {
  @include inputs();
}

.booking-form {
  @include listDisplay();
  justify-content: space-between;
  height: 80%;
  margin: 10px;
    .date-input {
      @include inputs();
      padding: 15px;
    }
    .price-input {
      margin: 5px;
    }
    .cost-label, output {
      font-size: 16px;
      margin: 5px;
    }
}

.tag-list {
  @include generalDisplay();
  margin: 10px;
  .tag-box {
    margin: 5px;
    .tag-prompt {
      font-size: 16px;
    }
      .tag-btn {
        font-size: 14px;
        height: 50px;
        width: 80px;
        padding: 1%;
      }
      .type-tag-btns {
        display: flex;
      }
        .tag-btn.active {
          background-color: $grey;
          border: 2px solid $opaqueMauve;
        }
          
  }
}

.available-rooms {
  @include listDisplay();
  justify-content: flex-start;
  height: 80%;
  margin: 10px;
    .found-room {
      @include generalDisplay();
      margin: 20px;
      height: 80%;
    }
      .found-room-date {
        margin-bottom: 5px;
      }
      .book-room-btn {
        width: 8vh;
      }
        .search-reservations-btn {
          @include borders();
          height: 8vh;
          width: 8vw;
        }
}


.confirm-msg-box,
.delete-msg-box {
  @include generalDisplay();
  justify-content: flex-start;
  height: 80%;
  margin: 10px;
}



