.guest-view {
  @include userViews();
  // display: none;
}

.guest-quick-view {
  @include generalDisplay();
  @include borders();
  @include modalSizes();
  // display: none;
  justify-content: space-around;
  padding: 1%;
}

.guest-bookings-btns {
  @include buttons();
  width: 15vw;
  height: 8vh;
}