header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid $seaFoam;
  height: 100px;
  width: 100%;
  position: absolute;
}

.logo-box {
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  padding: 15px;
  margin-bottom: 5px;
}