.login-modal {
  @include generalDisplay();
  @include borders();
  box-shadow: 1px 1px 95px black;
  display: none;
  width: 50vw;
  height: 30vw;
  background-color: $modalColor;
}

.login {
  @include generalDisplay();
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.form-input {
  @include generalDisplay();
}

.inputs {
  @include borders();
  font: bolder 20px 'Raleway', sans-serif;
  color: #FFFFFF;
  margin: 15px;
  padding: 6px;
  height: 3vw;
  text-align: center;
}

.login-btn {
  @include borders();
  font-family: 'Raleway', serif;
  color: #FFFFFF;
  height: 2.5vw;
  width: 95px;
  &:hover {
    background-color: $grey;
  }

}
