

.login-modal {
  @include generalDisplay();
  border: 3px solid $seaFoam;
  border-radius: 4px;
  box-shadow: 1px 1px 115px black;
  width: 60%;
  height: 40%;
  background-color:hsla(230, 29%, 33%, 0.94);
}

.login {
  @include generalDisplay();
  flex-direction: column;
}

.form-input {
  @include generalDisplay();
}

.inputs {
  @include borders();
  color: #FFFFFF;
  margin: 10px;
  padding: 4px;
  height: 30px;
}

#pw-input {
  margin-left: 15px;
}

::placeholder {
  color: white;
  font-weight: bolder;
}

.login-btn {
  @include borders();
  color: #FFFFFF;
  margin-top: 10px;
  height: 30px;
  width: 75px;
  &:hover {
    background-color: $seaFoam;
  }

}
