.manager-view {
  @include generalDisplay();
  // display: none;
  flex-direction: column;
  justify-content: flex-start;
  font: lighter 20px 'Josefin Sans', serif;
  color: white;
  height: 100%;
  width: 100%;
}

.quick-view {
  @include generalDisplay();
  @include borders();
  // justify-content: space-around;
  height: 28vh;
  width: 70vh;
  .mgr-stats {
    flex-direction: row;
    flex-wrap: wrap;

  }
}

.search-bar {
  height: 3vw;
  flex-direction: row;
  text-align: center;
    #search-guest-input {
      background-color: $modalColor;
    }
      ::placeholder {
        color: #FFFFFF;
        font-weight: bolder;
        padding: 0;
      }
      .clear-text-btn,
      .mgr-search-btn {
        @include buttons();
        margin: 0px
      }
}

.known-guests {
  @include generalDisplay();
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 20px;
  overflow-y: scroll;
  scroll-behavior: smooth;
  width: 100%;
}

.guest-card {
  @include borders();
  @include generalDisplay();
  margin: 20px;
  padding: 2%;
  width: 25vw;
  height: 22vh;
    .expand-found-guest-btn {
      @include buttons();
    }
}
