@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

h1 {
  @include headerFont(9vh);
  margin-top: 40px;
}

h2 {
  @include bodyFont(4.5vh);
  margin-bottom: 10px;
}

h4 {
  @include bodyFont(4vh);
}

h5 {
  @include headerFont(3.0vw);
}

p {
  @include bodyFont(3vh);
  margin-bottom: 5px;
}