$grey: grey;
$transparentMauve: hsla(297, 13%, 31%, 0.83);
$opaqueMauve: hsla(297, 13%, 31%, 1.0);

@mixin generalDisplay() {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

@mixin borders() {
  background: $transparentMauve;
  border: 2px solid $grey;
  border-radius: 6px;
}

@mixin headerFont($font-size) {
  font-family: 'Homemade Apple', serif;
  font-size: $font-size;
}

@mixin bodyFont($font-size) {
  font-family: 'Josefin Sans', serif;
  font-weight: bolder;
  font-size: $font-size;
}

@mixin buttons {
  @include borders();
  @include bodyFont(16px);
  margin: 7px;
  padding: 2%;
      &:hover {
        background-color: $grey;
      }
}

@mixin userViews {
  @include generalDisplay();
  @include bodyFont(20px);
  justify-content: flex-start;
  margin-top: 40px;
  height: 100%;
  width: 100%;
}

@mixin modals {
  box-shadow: 1px 1px 35px black;
  background-color: $opaqueMauve;
  height: 65vh;
  width: 80vh;
  z-index: 1000;
}

@mixin inputs {
  @include borders();
  @include bodyFont(18px);
  margin: 10px;
  padding: 1%;
  height: 3vw;
  text-align: center;
}

@mixin listDisplay() {
  @include generalDisplay();
  justify-content: initial;
  overflow: scroll;
  scroll-behavior: smooth;
  text-align: center;
}