$grey: grey;
$modalColor: hsla(297, 13%, 31%, 0.83);

@mixin generalDisplay() {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin borders() {
  border: 2px solid $grey;
  border-radius: 6px;
  background: $modalColor;
}

@mixin headerFont($font-size) {
  font-family: 'Homemade Apple', serif;
  font-size: $font-size;
}

@mixin buttons {
  @include borders();
  font: bolder 18px 'Josefin Sans', serif;
  color: #FFFFFF;
  margin: 20px;
  height: 5vh;
  width: 95px;
      &:hover {
        background-color: $grey;
      }
}

@mixin userViews {
  @include generalDisplay();
  justify-content: flex-start;
  font: lighter 20px 'Josefin Sans', serif;
  color: white;
  margin-top: 40px;
  height: 100%;
  width: 100%;
}

@mixin modalSizes {
  height: 60vh;
  width: 40vw;
  overflow: scroll;
  scroll-behavior: smooth;
}

@mixin inputs {
  font: bolder 18px 'Josefin Sans', serif;
  color: #FFFFFF;
  margin: 15px;
  padding: 6px;
  height: 3vw;
  text-align: center;
}