@import 'variables';
@import 'login';
@import 'mobileQueries';
@import 'reset';
@import 'guestView';
@import 'managerView';
@import 'headers';
@import 'text';
@import url('https://fonts.googleapis.com/css2?family=BioRhyme:wght@700&display=swap');


html, body {
  height: 100%;
}

body {
  background: url(../images/grey-mountain.jpg);
  background-size: cover;
  display: flex;
  font-family: 'Roboto', sans-serif;
}


main {
  @include generalDisplay();
  overflow-y: scroll;
  scroll-behavior: smooth;
  margin-top: 100px;
  width: 100%;
}




