@import 'variables';
@import 'loginView';
@import 'mediaView';
@import 'reset';
@import 'managerView';
@import 'guestView';
@import 'text';


html, body {
  height: 100%;
}

body {
  @include generalDisplay();
  background: url(../images/grey-mountain.jpg);
  background-size: cover;
  font-family: 'Josefin Sans', serif;
  padding: 2%;
}

header {
  @include generalDisplay();
  height: 16vh;
  width: 100%;
}

main {
  @include generalDisplay();
  padding: 2%;
  height: 90%;
  width: 100%;
}




